<script type="text/html" id="TreeViewTemplate">
    <div class="tree-view">
        <ul data-bind="template: {foreach: root().nodes, name: 'TreeViewNodeTemplate'}">
        </ul>
    </div>
</script>

<script type="text/html" id="TreeViewNodeTemplate">
    <li data-bind="css: {selected: isSelected, visible: isVisible, expanded: isExpanded}, attach: true">
        <header data-bind="css: value().itemType, attr: {draggable: value().canDrag}">
            <a class="expand-collapse" href="#!" data-bind="click: expandCollapse"><i class="material-icons">arrow_drop_down</i></a>
            <a class="visibility" string-title="$(show-hide)" href="#!" data-bind="click: toggleVisible"><i class="material-icons" data-bind="text: value().icon, style: {color: value()['color'] && value().color() && isVisible() ? value().color() : 'unset'}"></i></a>
            <a draggable="false" href="#!" data-bind="click: toggleSelection"><span class="label" data-bind="text: value().name"></span></a>
        </header>
        <!--ko if: nodes().length > 0-->
        <ul class="child-nodes" data-bind="template: {foreach: nodes, name: 'TreeViewNodeTemplate'}">
        </ul>
        <!--/ko-->
    </li>
</script>