/****************************************/
/* Card                                 */
/****************************************/

.card {
    .card-section {
        border-bottom: solid 1px #ddd;

        &:last-of-type {
            border-bottom: none;
        }

        .section-title {
            font-size: 18px;
            font-weight: 400;
        }

        .section-content {
            margin-top: 16px;
        }

        &.expandable {
            .section-title {
                position: relative;
                cursor: pointer;

                i {
                    position: absolute;
                    right: 0;
                    transition-duration: 0.3s;
                    transform: rotate(90deg);
                }
            }

            .section-content {
                transition-duration: 0.3s;
            }

            &.closed {
                margin-bottom: 12px;
                border-bottom: none;

                .section-title {
                    i {
                        transform: rotate(0);
                    }

                    border-bottom: solid 1px #ddd;
                    padding-bottom: 12px;
                }

                .section-content {
                    overflow: hidden;
                    opacity: 0;
                    max-height: 0;
                    margin: 0;
                    margin-top: -20px;
                }
            }
        }
    }
}
