@import "_Vars.scss";
@import "Components/_TipContainer.scss";
@import "Components/_Card.scss";

/****************************************/
/* Theme                                */
/****************************************/

@media only screen and (min-width: 1360px) {
    .container {
        width: 1280px !important ;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/****************************************/

main {
    flex: 1 0 auto;
    padding-bottom: 24px;
    overflow: hidden;
}

/****************************************/

.material-tooltip {
    max-width: 300px !important;
    white-space: pre-wrap;
}

/****************************************/

ul.collapsible li {
    .collapsible-header {
        position: relative;

        i {
            position: absolute;
            right: 0;
            transition-duration: 0.3s;
        }
    }

    &.active {
        .collapsible-header {
            i {
                transform: rotate(90deg);
            }
        }
    }
}

@media #{$small-and-down} {

    .container {
        width: auto !important;
    }

    main {
        background-color: #eee;

        .container {
            margin: 0;
            width: auto;
        }

        .card, .collapsible {
            background-color: white;
            box-shadow: none;
            border: none;
            border-radius: 0;
            border-bottom: solid 1px #bbb;
            border-top: solid 1px #bbb;
            margin-left: 0;
            margin-right: 0;
            padding: 0;

            .card-content {
                padding: 1rem;
            }
        }

        .row .col.main {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        section.main {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

/****************************************/
/* Components                           */
/****************************************/

.flex-col-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;

    > * {
        width: (100 /3) + %;
        box-sizing: border-box;
        margin-bottom: 16px;
    }
}

/****************************************/

.stack-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    > * {
        margin-right: 25px;

        &.stack-fit {
            flex-grow: 1;
            flex-basis: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

/****************************************/

.summary-field {
    label {
        display: block;
    }
}

/****************************************/

.legend {
    i {
        display: inline-block;
        width: 16px;
        height: 16px;
        content: ' ';
    }
}
/****************************************/
/* Helpers                              */
/****************************************/
.hidden {
    display: none;
}

.fit-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flex-row-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.flex-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    > * {
        flex-grow: 1;
        flex-basis: 0;
        margin-right: 16px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}


.item-margin-small {
    > * {
        margin-right: 8px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.empty-text {
    font-style: italic;
    color: #999;
    font-weight: bold;
}

.no-margin {
    margin: 0 !important;
}

.relative {
    position: relative;
}

.title-actions {
    display: flex;
    flex-direction: row;

    label.title {
        margin-bottom: 8px;
        display: block;
        font-size: 15px;
        flex-grow: 1;
        flex-basis: 0;
        margin-right: 16px;
    }

    .actions {
        a {
            margin-right: 8px;
        }
    }
}

.selectable {
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}
/****************************************/
/* Custom                               */
/****************************************/

.good {
    fill: #4caf50;
    background-color: #4caf50;
}

.medium {
    fill: #ffeb3b;
    background-color: #ffeb3b;
}

.bad {
    fill: #ff9800;
    background-color: #ff9800;
}

.sever {
    fill: #f44336;
    background-color: #f44336;
}

.verysevere {
    fill: #9c27b0;
    background-color: #9c27b0;
}
