
/****************************************/
/* StudioPage                           */
/****************************************/

.dev-message {
    font-weight: bold;
    padding: 16px;
    text-align: center;
    color: #777;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    i {
        color: #ffc107;
    }
}

.studio-page {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #ccc;
    height: 70vh;

    .tree-view {
        height: 100%;

        .visible > header {
            &.project {
                .visibility {
                    color: #ffc107;
                }
            }

            &.regression {
                .visibility {
                    color: #4caf50;
                }
            }
        }
    }

    .side-bar {
        width: 300px;
        max-width: 30%;
        display: flex;
        flex-direction: column;
        border-right: solid 4px #ccc;
        border-left: solid 1px #ccc;

        .series {
            flex-grow: 1;
            flex-shrink: 1;

            .help {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                height: 100%;
                padding: 16px;
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;

                > * {
                    text-align: center;
                }
            }
        }

        .options {
            max-height: 50%;
        }
    }

    .content {
        flex-grow: 1;
    }

    #calculator {
        height: 100%;
    }
}

/****************************************/

.panel {
    border-bottom: solid 4px #ccc;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;

    > header {
        padding: 8px;
        background-color: #1565c0;
        color: white;
        display: flex;
        flex-shrink: 0;

        h6 {
            margin: 0;
            flex-grow: 1;
        }

        .actions {
            margin-left: 8px;

            a {
                margin-right: 8px;

                i {
                    color: #eee;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    > .content {
        padding: 8px;
        flex-grow: 1;
        position: relative;
    }

    &:last-of-type {
        border-bottom: none;
    }

    &.scroll {
        > .content {
            overflow: scroll;
        }
    }

    &.scroll-v {
        > .content {
            overflow-y: scroll;
        }
    }
}

.color-edit{
    display: flex;
    align-items: center;

    .input-field{
        flex-grow:1;
    }
    .color-box{
        width: 24px;
        height: 24px;
        border: solid 1px #ccc;
        margin-left: 8px;
        display: block;
    }
}

.function-selector {
    margin-bottom: 16px;
    margin-top: 16px;

    > * {
        border: solid 1px #ccc;
        padding: 8px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 32px;
        width: 32px;

        &.active {
            background-color: #90caf9;
        }

        a {
            display: block;
            content: ' ';
            height: 100%;
        }
    }

    .linear {
        background-image: url('../image/linear.png');
    }

    .exponential {
        background-image: url('../image/exponential.png');
    }

    .normal {
        background-image: url('../image/normal.png');
    }

    .log-normal {
        background-image: url('../image/log-normal.png');
    }
}

/****************************************/
.tree-view {
    ul {
        list-style: none;
        margin: 0;

        > li {
            position: relative;
            transition-duration: 0.3s;

            > header {
                display: flex;
                white-space: nowrap;

                .expand-collapse i {
                    transition-duration: 0.3s;
                    transform: rotate(-90deg);
                }

                .visibility {
                    color: #ddd;
                }

                .label {
                    color: #000;
                }
            }

            > .child-nodes {
                position: relative;
                opacity: 0;
                top: -20px;
                height: 0;
                pointer-events: none;
                transition-duration: 0.3s;
            }

            &.selected {
                > header {
                    .label {
                        font-weight: bold;
                    }
                }
            }

            &.visible {
                > header {
                    .visibility {
                    }
                }
            }

            &.expanded {
                > .child-nodes {
                    opacity: 1;
                    top: 0;
                    height: auto;
                    pointer-events: all;
                }

                > header {
                    .expand-collapse i {
                        transform: rotate(0);
                    }
                }
            }
        }
    }

    .child-nodes {
        margin-left: 40px;
    }
}
