
.stack-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    > * {
        margin-right: 25px;

        &.stack-fit {
            flex-grow: 1;
            flex-basis: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

svg {
    width: 50vh;
    max-width: 100%;

    g {
        pointer-events: painted;

        &.selected {
        }


        &.region {
            fill: none;
            stroke: #000;
            stroke-width: 0.2%;
        }

        &.district {
            fill: white;
            stroke: #999;
            stroke-width: 0.1%;
            transition: opacity 0.3s;

            &:hover {
                stroke: #000;
                stroke-width: 0.3%;
                z-index: 5;
            }
        }
    }
}
