/****************************************/
/* Theme                                */
/****************************************/
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/****************************************/

main {
    flex: 1 0 auto;
    padding-bottom: 24px;
}

/****************************************/

.material-tooltip {
    max-width: 300px !important;
    white-space: pre-wrap;
}

/****************************************/

ul.collapsible li {
    .collapsible-header {
        position: relative;

        i {
            position: absolute;
            right: 0;
            transition-duration: 0.3s;
        }
    }

    &.active {
        .collapsible-header {
            i {
                transform: rotate(90deg);
            }
        }
    }
}

@media #{$small-and-down} {
    
    .container {
        width: auto !important;
    }

    main {
        background-color: #eee;

        .container {
            margin: 0;
            width: auto;
        }

        .card, .collapsible {
            background-color: white;
            box-shadow: none;
            border: none;
            border-radius: 0;
            border-bottom: solid 1px #bbb;
            border-top: solid 1px #bbb;
            margin-left: 0;
            margin-right: 0;
            padding: 0;

            .card-content {
                padding: 1rem;
            }
        }

        .row .col.main {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        section.main {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

/****************************************/
/* Components                           */
/****************************************/

.flex-col-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;

    > * {
        width: (100 /3) + %;
        box-sizing: border-box;
        margin-bottom: 16px;
    }
}

/****************************************/

.stack-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    > * {
        margin-right: 25px;

        &.stack-fit {
            flex-grow: 1;
            flex-basis: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

/****************************************/

.summary-field {
    label {
        display: block;
    }
}


/****************************************/
/* Helpers                              */
/****************************************/

.hidden {
    display: none;
}

.empty-text {
    font-style: italic;
    color: #999;
}

.no-margin {
    margin: 0 !important;
}

.relative {
    position: relative;
}

.title-actions {
    display: flex;
    flex-direction: row;

    label.title {
        margin-bottom: 8px;
        display: block;
        font-size: 15px;
        flex-grow: 1;
        flex-basis: 0;
        margin-right: 16px;
    }

    .actions {
        a {
            margin-right: 8px;
        }
    }
}



.selectable{
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover{
        background-color: #eee;
    }
}

/****************************************/
/* Card Section                         */
/****************************************/

.card {
    .card-section {
        border-bottom: solid 1px #ddd;

        &:last-of-type {
            border-bottom: none;
        }

        .section-title {
            font-size: 18px;
            font-weight: 400;
        }

        .section-content {
            margin-top: 16px;
        }

        &.expandable {
            .section-title {
                position: relative;
                cursor: pointer;

                i {
                    position: absolute;
                    right: 0;
                    transition-duration: 0.3s;
                    transform: rotate(90deg);
                }
            }

            .section-content {
                transition-duration: 0.3s;
            }

            &.closed {
                margin-bottom: 12px;
                border-bottom: none;

                .section-title {
                    i {
                        transform: rotate(0);
                    }

                    border-bottom: solid 1px #ddd;
                    padding-bottom: 12px;
                }

                .section-content {
                    overflow: hidden;
                    opacity: 0;
                    max-height: 0;
                    margin: 0;
                    margin-top: -20px;
                }
            }
        }
    }
}

/****************************************/
/* Custom                               */
/****************************************/

.data-source{
}

.card-map {
    padding: 0;

    .tabs {
        margin-bottom: 8px;
    }
}

/****************************************/

.chart {
    position: relative;
    margin-bottom: 24px;
    background-color: white;

    .chart-container {
        position: relative;
        height: 30vh;
        transition-duration: 0.3s;

        canvas {
            background-color: white;
        }
    }

    &.zoom {
        position: fixed;
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 24px;
        z-index: 2000;
        overflow: hidden;

        .chart-container {
            position: absolute;
            top: 60px;
            right: 24px;
            left: 24px;
            bottom: 24px;
            height: auto;
        }
    }
}

/****************************************/

svg.map {
    width: 50vh;
    max-width: 100%;
    pointer-events: painted;

    .group {

        .area {
            fill: none;

            &.region {
                stroke: #000;
                stroke-width: 0.2%;
            }

            &.district {
                stroke: #999;
                stroke-width: 0.05%;
                transition: opacity 0.3s;
            }
        }

        &.active {
            .area {
                fill: white;

                &.region {
                    stroke-width: 0.15%;
                }

                &.selected, &:hover {
                    stroke: #F57F17;
                    stroke-width: 0.3%;
                }
            }
        }
    }
}
