
.stack-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;

    > * {
        margin-right: 25px;

        &.stack-fit {
            flex-grow: 1;
            flex-basis: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.empty-text{
    font-style: italic;
    color: #999;
}

.no-margin{
    margin: 0 !important;
}

svg.map {
    width: 50vh;
    max-width: 100%;
    pointer-events: painted;

    .group {

        .area {
            fill: none;

            &.region {
                stroke: #000;
                stroke-width: 0.2%;
            }

            &.district {
                stroke: #999;
                stroke-width: 0.05%;
                transition: opacity 0.3s;
            }
        }

        &.active {
            .area {
                fill: white;

                &.valid {
                    fill: #b71c1c;
                }

                &.selected, &:hover {
                    stroke: #F57F17;
                    stroke-width: 0.3%;
                }
            }
        }
    }
}
