.stack-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .stack-horizontal > * {
    margin-right: 25px; }
    .stack-horizontal > *.stack-fit {
      flex-grow: 1;
      flex-basis: 0; }
    .stack-horizontal > *:last-child {
      margin-right: 0; }

.empty-text {
  font-style: italic;
  color: #999; }

.no-margin {
  margin: 0 !important; }

label.title {
  margin-bottom: 8px;
  display: block;
  font-size: 15px; }

ul.collapsible li .collapsible-header {
  position: relative; }
  ul.collapsible li .collapsible-header i {
    position: absolute;
    right: 0;
    transition-duration: 0.3s; }

ul.collapsible li.active .collapsible-header i {
  transform: rotate(90deg); }

.chart {
  position: relative;
  margin-bottom: 24px;
  background-color: white; }
  .chart .chart-container {
    position: relative;
    height: 250px;
    transition-duration: 0.3s; }
  .chart.zoom {
    position: fixed;
    top: 80px;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 24px;
    z-index: 3;
    overflow: hidden; }
    .chart.zoom .chart-container {
      position: absolute;
      top: 60px;
      right: 24px;
      left: 24px;
      bottom: 24px;
      height: auto; }

.relative {
  position: relative; }

.action-right {
  position: absolute;
  right: 0px; }

svg.map {
  width: 50vh;
  max-width: 100%;
  pointer-events: painted; }
  svg.map .group .area {
    fill: none; }
    svg.map .group .area.region {
      stroke: #000;
      stroke-width: 0.2%; }
    svg.map .group .area.district {
      stroke: #999;
      stroke-width: 0.05%;
      transition: opacity 0.3s; }
  svg.map .group.active .area {
    fill: white; }
    svg.map .group.active .area.valid {
      fill: #b71c1c; }
    svg.map .group.active .area.selected, svg.map .group.active .area:hover {
      stroke: #F57F17;
      stroke-width: 0.3%; }
