/****************************************/
/* Theme                                */
/****************************************/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/****************************************/
main {
  flex: 1 0 auto;
  padding-bottom: 24px;
  overflow: hidden; }

/****************************************/
.material-tooltip {
  max-width: 300px !important;
  white-space: pre-wrap; }

/****************************************/
ul.collapsible li .collapsible-header {
  position: relative; }
  ul.collapsible li .collapsible-header i {
    position: absolute;
    right: 0;
    transition-duration: 0.3s; }

ul.collapsible li.active .collapsible-header i {
  transform: rotate(90deg); }

@media only screen and (max-width: 600px) {
  .container {
    width: auto !important; }
  main {
    background-color: #eee; }
    main .container {
      margin: 0;
      width: auto; }
    main .card, main .collapsible {
      background-color: white;
      box-shadow: none;
      border: none;
      border-radius: 0;
      border-bottom: solid 1px #bbb;
      border-top: solid 1px #bbb;
      margin-left: 0;
      margin-right: 0;
      padding: 0; }
      main .card .card-content, main .collapsible .card-content {
        padding: 1rem; }
    main .row .col.main {
      padding-left: 0 !important;
      padding-right: 0 !important; }
    main section.main {
      padding-left: 1rem;
      padding-right: 1rem; } }

/****************************************/
/* Components                           */
/****************************************/
.flex-col-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box; }
  .flex-col-3 > * {
    width: 33.33333%;
    box-sizing: border-box;
    margin-bottom: 16px; }

/****************************************/
.stack-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .stack-horizontal > * {
    margin-right: 25px; }
    .stack-horizontal > *.stack-fit {
      flex-grow: 1;
      flex-basis: 0; }
    .stack-horizontal > *:last-child {
      margin-right: 0; }

/****************************************/
.summary-field label {
  display: block; }

/****************************************/
.card .card-section {
  border-bottom: solid 1px #ddd; }
  .card .card-section:last-of-type {
    border-bottom: none; }
  .card .card-section .section-title {
    font-size: 18px;
    font-weight: 400; }
  .card .card-section .section-content {
    margin-top: 16px; }
  .card .card-section.expandable .section-title {
    position: relative;
    cursor: pointer; }
    .card .card-section.expandable .section-title i {
      position: absolute;
      right: 0;
      transition-duration: 0.3s;
      transform: rotate(90deg); }
  .card .card-section.expandable .section-content {
    transition-duration: 0.3s; }
  .card .card-section.expandable.closed {
    margin-bottom: 12px;
    border-bottom: none; }
    .card .card-section.expandable.closed .section-title {
      border-bottom: solid 1px #ddd;
      padding-bottom: 12px; }
      .card .card-section.expandable.closed .section-title i {
        transform: rotate(0); }
    .card .card-section.expandable.closed .section-content {
      overflow: hidden;
      opacity: 0;
      max-height: 0;
      margin: 0;
      margin-top: -20px; }

/****************************************/
@keyframes pulse {
  0% {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 0px 1px #0094ff;
    opacity: 0.8; }
  100% {
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    opacity: 0;
    box-shadow: 0 0 3px 20px #0094ff; } }

/****************************************/
.pulse {
  position: relative; }
  .pulse::after {
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: ' '; }

/****************************************/
.tip-container {
  position: fixed;
  top: 60px;
  max-width: 60vw;
  margin: auto;
  z-index: 50; }
  @media only screen and (max-width: 600px) {
    .tip-container {
      max-width: none;
      right: 0;
      left: 0; } }
  .tip-container .tip {
    border: solid 1px #ccc;
    background-color: #ffecb3;
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    margin-top: -200px; }
    .tip-container .tip.visible {
      margin-top: 0;
      opacity: 1; }
      .tip-container .tip.visible.transparent-element {
        opacity: 0.7; }
    .tip-container .tip .main {
      padding: 16px;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .tip-container .tip .main i {
        margin-right: 16px;
        display: inline-block;
        font-size: 48px; }
      .tip-container .tip .main .not-show {
        font-size: 0.8em; }
    .tip-container .tip .actions {
      display: flex;
      flex-direction: row;
      border-top: solid 1px #ccc;
      padding: 0;
      margin: 0; }
      .tip-container .tip .actions li {
        border-right: solid 1px #ccc;
        flex-basis: 0;
        flex-grow: 1;
        text-align: center; }
        .tip-container .tip .actions li:last-of-type {
          border-right: none; }
        .tip-container .tip .actions li a {
          padding: 8px 16px 8px 16px;
          display: block; }

/****************************************/
.legend i {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: ' '; }

/****************************************/
/* Helpers                              */
/****************************************/
.hidden {
  display: none; }

.flex-row-inline {
  display: flex;
  flex-direction: row;
  align-items: center; }

.item-margin-small > * {
  margin-right: 8px; }

.item-margin-small:last-child {
  margin-right: 0; }

.empty-text {
  font-style: italic;
  color: #999;
  font-weight: bold; }

.no-margin {
  margin: 0 !important; }

.relative {
  position: relative; }

.title-actions {
  display: flex;
  flex-direction: row; }
  .title-actions label.title {
    margin-bottom: 8px;
    display: block;
    font-size: 15px;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 16px; }
  .title-actions .actions a {
    margin-right: 8px; }

.selectable {
  transition-duration: 0.2s;
  cursor: pointer; }
  .selectable:hover {
    background-color: #eee; }

/****************************************/
/* Custom                               */
/****************************************/
.good {
  fill: #4caf50;
  background-color: #4caf50; }

.medium {
  fill: #ffeb3b;
  background-color: #ffeb3b; }

.bad {
  fill: #ff9800;
  background-color: #ff9800; }

.sever {
  fill: #f44336;
  background-color: #f44336; }

.verysevere {
  fill: #9c27b0;
  background-color: #9c27b0; }

/****************************************/
/* PlotPage                            */
/****************************************/
.data-source .note {
  margin-left: 24px; }

.data-source ul li {
  margin-bottom: 8px; }
  .data-source ul li label {
    display: block;
    font-size: 14px; }
  .data-source ul li .last-update {
    font-size: 13px; }
    .data-source ul li .last-update::before {
      content: ' ('; }
    .data-source ul li .last-update::after {
      content: ')'; }

.card-map {
  padding: 0; }
  .card-map .tabs {
    margin-bottom: 8px; }

/****************************************/
.chart {
  position: relative;
  margin-bottom: 24px;
  background-color: white; }
  .chart .chart-container {
    position: relative;
    height: 30vh;
    transition-duration: 0.3s; }
    .chart .chart-container canvas {
      background-color: white; }
  .chart.zoom {
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 24px;
    z-index: 2000;
    overflow: hidden; }
    .chart.zoom .chart-container {
      position: absolute;
      top: 60px;
      right: 24px;
      left: 24px;
      bottom: 24px;
      height: auto; }

/****************************************/
.map-container {
  position: relative; }
  .map-container .actions {
    position: absolute;
    right: 0; }

/****************************************/
svg.map {
  width: 50vh;
  max-width: 100%;
  pointer-events: painted; }
  svg.map .environment > circle {
    stroke: #000;
    stroke-width: 500;
    fill-opacity: 0.7; }
  svg.map .group .area {
    fill: none; }
    svg.map .group .area.region {
      stroke: #000;
      stroke-width: 0.2%; }
    svg.map .group .area.district {
      stroke: #999;
      stroke-width: 0.05%; }
  svg.map .group.active .area {
    fill: white; }
    svg.map .group.active .area.region {
      stroke-width: 0.15%; }
    svg.map .group.active .area.selected, svg.map .group.active .area:hover {
      stroke: #F57F17;
      stroke-width: 0.3%; }

svg.map.experimental {
  width: 50vh;
  max-width: 100%;
  pointer-events: painted; }
  svg.map.experimental .environment > circle {
    stroke: #000;
    stroke-width: 500;
    fill-opacity: 0.7; }
  svg.map.experimental .group .area {
    fill: none; }
    svg.map.experimental .group .area.region {
      stroke: #f0f0f0;
      stroke-width: 4000; }
    svg.map.experimental .group .area.district {
      stroke: #f0f0f0;
      stroke-width: 2000; }
  svg.map.experimental .group.active .area {
    fill: white; }
    svg.map.experimental .group.active .area.region {
      stroke-width: 4000;
      stroke: #fff;
      stroke-opacity: 0; }
    svg.map.experimental .group.active .area.selected, svg.map.experimental .group.active .area:hover {
      stroke: #F57F17;
      stroke-width: 0.3%; }

/****************************************/
/* StudioPage                           */
/****************************************/
.dev-message {
  font-weight: bold;
  padding: 16px;
  text-align: center;
  color: #777;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; }
  .dev-message i {
    color: #ffc107; }

.studio-page {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #ccc;
  height: 70vh; }
  .studio-page .tree-view {
    height: 100%; }
    .studio-page .tree-view .visible > header.project .visibility {
      color: #ffc107; }
    .studio-page .tree-view .visible > header.regression .visibility {
      color: #4caf50; }
  .studio-page .side-bar {
    width: 300px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    border-right: solid 4px #ccc;
    border-left: solid 1px #ccc; }
    .studio-page .side-bar .series {
      flex-grow: 1;
      flex-shrink: 1; }
    .studio-page .side-bar .options {
      max-height: 50%; }
  .studio-page .content {
    flex-grow: 1; }
  .studio-page #calculator {
    height: 100%; }

/****************************************/
.panel {
  border-bottom: solid 4px #ccc;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0; }
  .panel > header {
    padding: 8px;
    background-color: #1565c0;
    color: white;
    display: flex;
    flex-shrink: 0; }
    .panel > header h6 {
      margin: 0;
      flex-grow: 1; }
    .panel > header .actions {
      margin-left: 8px; }
      .panel > header .actions a {
        margin-right: 8px; }
        .panel > header .actions a i {
          color: #eee; }
        .panel > header .actions a:last-of-type {
          margin-right: 0; }
  .panel > .content {
    padding: 8px;
    flex-grow: 1;
    position: relative; }
  .panel:last-of-type {
    border-bottom: none; }
  .panel.scroll > .content {
    overflow: scroll; }
  .panel.scroll-v > .content {
    overflow-y: scroll; }

.color-edit {
  display: flex;
  align-items: center; }
  .color-edit .input-field {
    flex-grow: 1; }
  .color-edit .color-box {
    width: 24px;
    height: 24px;
    border: solid 1px #ccc;
    margin-left: 8px;
    display: block; }

/****************************************/
.tree-view ul {
  list-style: none;
  margin: 0; }
  .tree-view ul > li {
    position: relative;
    transition-duration: 0.3s; }
    .tree-view ul > li > header {
      display: flex;
      white-space: nowrap; }
      .tree-view ul > li > header .expand-collapse i {
        transition-duration: 0.3s;
        transform: rotate(-90deg); }
      .tree-view ul > li > header .visibility {
        color: #ddd; }
      .tree-view ul > li > header .label {
        color: #000; }
    .tree-view ul > li > .child-nodes {
      position: relative;
      opacity: 0;
      top: -20px;
      height: 0;
      pointer-events: none;
      transition-duration: 0.3s; }
    .tree-view ul > li.selected > header .label {
      font-weight: bold; }
    .tree-view ul > li.expanded > .child-nodes {
      opacity: 1;
      top: 0;
      height: auto;
      pointer-events: all; }
    .tree-view ul > li.expanded > header .expand-collapse i {
      transform: rotate(0); }

.tree-view .child-nodes {
  margin-left: 40px; }
