@{
    ViewData["Title"] = "Studio";
}
<div class="container">
    <div class="studio-page">
        <div id="calculator"></div>
        <button data-bind="click: test">Test</button>
    </div>
</div>


@section Head{

}

@section Scripts {
    <script src="https://www.desmos.com/api/v1.4/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <script>
        WebApp.app.baseUrl = '@Url.Content("~/")';
        WebApp.app.initServices();
        ko.applyBindings(new WebApp.StudioPage());
    </script>
}
