@{
    ViewData["Title"] = "Studio";
}

<div class="dev-message show-on-small">
    <i class="material-icons">warning</i><string>$(msg-not-for-mobile)</string><i class="material-icons">warning</i>
</div>

<div class="studio-page">
    <div class="side-bar">
        <section class="panel series scroll">
            <header>               
                <h6 string="$(projects)"></h6>
                <div class="actions" data-bind="template: {foreach: items.root().actions(), name: 'ActionTemplate'}">
                </div>
            </header>
            <div class="content">

                <div class="help" data-bind="visible: items.root().nodes().length == 0">
                    <p>
                        <string>$(msg-no-projects-1)</string>
                        <a asp-action="Overview" target="_blank" string="$(overview)"></a>
                        <string>$(msg-no-projects-2)</string>
                        <i class="material-icons">input</i>
                        <string>$(msg-no-projects-3)</string>
                    </p>
                </div>
                <div class="tree-view">
                    <a href="#!" data-bind="click: test">Test</a>
                    <ul data-bind="template: {foreach: items.root().nodes, name: 'TreeItemTemplate'}">
                    </ul>
                </div>
            </div>
        </section>
        <!--ko if: items.selectedNode()-->
        <section class="panel options scroll-v">
            <header>
                <h6 string="$(options)"></h6>
                <div class="actions" data-bind="template: { foreach: items.selectedNode().actions(), name: 'ActionTemplate'}">
                </div>
            </header>
            <div class="content" data-bind="with: items.selectedNode().value()">
                <div class="input-field">
                    <label class="active" string="$(name)"></label>
                    <input type="text" data-bind="value: name" />
                </div>
                <!--ko foreach: parameters -->
                <div class="parameter">
                    <div>
                        <span class="name" data-bind="text: name"></span>
                        <span class="value" data-bind="text: value"></span>
                    </div>
                    <input type="range" data-bind="value: value, attr: {max: max, min:min, step: step}, valueUpdate: 'input'" />
                </div>
                <!--/ko-->
                <!--ko template: {name: optionsTemplateName} -->
                <!--/ko-->
            </div>
        </section>
        <!--/ko-->
    </div>
    <section class="content main">
        <div id="calculator"></div>
    </section>
</div>


<div id="options" class="modal">
    <div class="modal-content">
        <h4 string="$(options)"></h4>
        <div class="row">
            <div class="section">
                <div class="col m6">
                    <div class="input-field">
                        <input type="number" data-bind="value: maxX" />
                        <label class="active" string="$(days) (x)"></label>
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        <input type="number" data-bind="value: maxY" />
                        <label class="active" string="$(max-value) (y)"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>


<script type="text/html" id="ActionTemplate">
    <a href="#!" data-bind="attr: {title: text}, click: execute">
        <i class="material-icons" data-bind="text: icon"></i>
    </a>
</script>

<script type="text/html" id="ProjectOptionsTemplate">


</script>

<script type="text/html" id="StudioOptionsTemplate">
    <div class="color-edit">
        <div class="input-field">
            <label class="active">Colore</label>
            <input type="text" data-bind="value: color" />
        </div>
        <span class="color-box" data-bind="style: {'background-color': color}"></span>
    </div>
</script>


<script type="text/html" id="RegressionOptionsTemplate">
    <div>
        <label>
            <input class="filled-in" type="checkbox" data-bind="checked: showIntegration" />
            <span string="$(show-integration)"></span>
        </label>
    </div>
    <div class="function-selector flex-row" data-bind="foreach: functions">
        <div data-bind="attr: {class: value.type}, css: {active: $parent.selectedFunction() == $data}">
            <a href="#!" data-bind="click: select, attr: {title: value.name}"></a>
        </div>
    </div>
    <!--ko foreach: selectedFunction().vars -->
    <div class="function-var">
        <div>
            <label>
                <input class="filled-in" type="checkbox" data-bind="checked: autoCompute" />
                <span class="name" data-bind="text: value.label + ' (' + value.name + '): '"></span>
                <span class="value" data-bind="text: curValue"></span>
            </label>
        </div>
        <!--ko if: !autoCompute() -->
        <input type="range" data-bind="attr: {max: max, min: min, step: step}, value: curValue, valueUpdate: 'input'" />
        <div class="var-range flex-row">
            <div>
                <input type="number" data-bind="value: min" placeholder="minimo" />
            </div>
            <div>
                <input type="number" data-bind="value: step" placeholder="passo" />
            </div>
            <div>
                <input type="number" data-bind="value: max" placeholder="massimo" />
            </div>
        </div>
        <!--/ko-->
    </div>
    <!--/ko-->

</script>


<script type="text/html" id="TreeItemTemplate">
    <li data-bind="css: {selected: isSelected, visible: isVisible, expanded: isExpanded}, attach: true">
        <header data-bind="css: value().itemType, attr: {draggable: value().canDrag}">
            <a class="expand-collapse" href="#!" data-bind="click: expandCollapse"><i class="material-icons">arrow_drop_down</i></a>
            <a class="visibility" string-title="$(show-hide)" href="#!" data-bind="click: toggleVisible"><i class="material-icons" data-bind="text: value().icon, style: {color: value()['color'] && value().color() && isVisible() ? value().color() : 'unset'}"></i></a>
            <a draggable="false" href="#!" data-bind="click: toggleSelection"><span class="label" data-bind="text: value().name"></span></a>
        </header>
        <!--ko if: nodes().length > 0-->
        <ul class="child-nodes" data-bind="template: {foreach: nodes, name: 'TreeItemTemplate'}">
        </ul>
        <!--/ko-->
    </li>
</script>

@section Head{

}

@section Scripts {
    <script src="~/lib/desmos.js"></script>
    <script>
        WebApp.app.baseUrl = '@Url.Content("~/")';
        WebApp.app.initServices();
        ko.applyBindings(new WebApp.GeoPlot.StudioPage( @(Html.Json((Guid?)ViewBag.ProjectId)) ));
    </script>
}
