@model StudioViewModel
@{
    ViewData["Title"] = "Studio";
}
<div class="container">
    <environment include="Production">
        <div class="dev-message">
            <i class="material-icons">warning</i> ATTENZIONE! Sistema in fase di sviluppo, non ottimizzato mobile! <i class="material-icons">warning</i>
        </div>
    </environment>

    <div class="studio-page">
        <div class="side-bar">
            <section class="panel series scroll">
                <header>
                    <h6>Progetti</h6>
                    <div class="actions">
                        <a href="#!" title="Nuovo progetto" data-bind="click: newProject"><i class="material-icons">create_new_folder</i></a>
                        <a href="#!" title="Salva" data-bind="click: saveState"><i class="material-icons">save</i></a>
                    </div>
                </header>
                <div class="content">
                    <div class="tree-view">
                        <ul data-bind="template: {foreach: items.root().nodes, name: 'TreeItemTemplate'}">
                        </ul>
                    </div>
                </div>
            </section>
            <section class="panel options">
                <header>
                    <h6>Opzioni</h6>
                </header>
                <div class="content">
                </div>
            </section>
        </div>
        <section class="content main">
            <div id="calculator"></div>
        </section>
    </div>
</div>

<script type="text/html" id="TreeItemTemplate">
    <li data-bind="css: {selected: isSelected, visible: isVisible, expanded: isExpanded}">
        <header data-bind="css: value().itemType">
            <a class="expand-collapse" href="#!" data-bind="click: expandCollapse"><i class="material-icons">arrow_drop_down</i></a>
            <a class="visibility" href="#!" data-bind="click: toggleVisible"><i class="material-icons" data-bind="text: value().icon"></i></a>
            <a href="#!" data-bind="click: toggleSelection"><span class="label" data-bind="text: value().label"></span></a>
            <div class="actions" data-bind="foreach: actions">
                <a data-bind="text: text, css: {icon}, click: execute"></a>
            </div>
        </header>
        <!--ko if: nodes().length > 0-->
        <ul class="child-nodes" data-bind="template: {foreach: nodes, name: 'TreeItemTemplate'}">
        </ul>
        <!--/ko-->
    </li>
</script>

@section Head{

}

@section Scripts {
    <script src="https://www.desmos.com/api/v1.4/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <script>
        WebApp.app.baseUrl = '@Url.Content("~/")';
        WebApp.app.initServices();
        ko.applyBindings(new WebApp.StudioPage(@Html.Json(Model)));
    </script>
}
