@{
    ViewData["Title"] = "Studio";
}

<div class="dev-message show-on-small">
    <i class="material-icons">warning</i><string>$(msg-not-for-mobile)</string><i class="material-icons">warning</i>
</div>

<div class="studio-page">
    <div class="side-bar">
        <section class="panel series scroll">
            <header>
                <h6 string="$(projects)"></h6>
                <div class="actions" data-bind="template: {foreach: items.root().actions(), name: 'ActionTemplate'}">
                </div>
            </header>
            <div class="content">

                <div class="help" data-bind="visible: items.root().nodes().length == 0">
                    <p>
                        <string>$(msg-no-projects-1)</string>
                        <a asp-action="Overview" target="_blank" string="$(overview)"></a>
                        <string>$(msg-no-projects-2)</string>
                        <i class="material-icons">input</i>
                        <string>$(msg-no-projects-3)</string>
                    </p>
                </div>
                <!--ko template: {name: 'TreeViewTemplate', data: items}-->
                <!--/ko-->
            </div>
        </section>
        <!--ko if: items.selectedNode()-->
        <section class="panel options scroll-v">
            <header>
                <h6 string="$(options)"></h6>
                <div class="actions" data-bind="template: { foreach: items.selectedNode().actions(), name: 'ActionTemplate'}">
                </div>
            </header>
            <div class="content" data-bind="with: items.selectedNode().value()">
                <div class="input-field">
                    <label class="active" string="$(name)"></label>
                    <input type="text" data-bind="value: name" />
                </div>
                <!--ko foreach: parameters -->
                <div class="parameter">
                    <div>
                        <span class="name" data-bind="text: name"></span>
                        <span class="value" data-bind="text: value"></span>
                    </div>
                    <input type="range" data-bind="attr: {max: max, min:min, step: step}, value: value, valueUpdate: 'input'" />
                </div>
                <!--/ko-->
                <!--ko template: {name: optionsTemplateName} -->
                <!--/ko-->
            </div>
        </section>
        <!--/ko-->
    </div>
    <section class="content main">
        <div id="calculator"></div>
    </section>
</div>

<!--ko template: {name: 'DataImportTemplate', data: dataImport}-->
<!--/ko-->

<div id="options" class="modal">
    <div class="modal-content">
        <h4 string="$(options)"></h4>
        <div class="row">
            <div class="section">
                <div class="col m6">
                    <div class="input-field">
                        <input type="number" data-bind="value: maxX" />
                        <label class="active" string="$(days) (x)"></label>
                    </div>
                </div>
                <div class="col m6">
                    <div class="input-field">
                        <input type="number" data-bind="value: maxY" />
                        <label class="active" string="$(max-value) (y)"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>

<partial name="Templates\_TreeView" />

<partial name="Templates\_DataImport" />

<!--ko with: GeoPlot.ColorPicker.instance -->
<div class="color-picker z-depth-2" data-bind="css: {visible: isOpened}, foreach: colors, attach: attachNode">
    <a data-bind="click: select, style: {'background-color': value}"></a>
</div>
<!--/ko-->


<script type="text/html" id="ActionTemplate">
    <a href="#!" data-bind="attr: {title: text}, click: execute">
        <i class="material-icons" data-bind="text: icon"></i>
    </a>
</script>

<script type="text/html" id="ProjectOptionsTemplate">
    <label string="$(aggregation)"></label>
    <select class="browser-default" data-bind="value: aggregationMode, options: aggregationModes, optionsValue: 'value', optionsText: 'text'">
    </select>

</script>

<script type="text/html" id="StudioOptionsTemplate">
    <div class="color-edit">
        <div class="input-field">
            <label class="active">Colore</label>
            <input type="text" data-bind="value: color" />
        </div>
        <div class="relative">
            <a href="#!" class="color-box" data-bind="style: {'background-color': color}, click: changeColor"></a>
        </div>
    </div>
</script>

<script type="text/html" id="RegressionOptionsTemplate">
    <div>
        <label>
            <input class="filled-in" type="checkbox" data-bind="checked: showIntegration" />
            <span string="$(show-integration)"></span>
        </label>
    </div>
    <div class="function-selector flex-row" data-bind="foreach: functions">
        <div data-bind="attr: {class: value.type}, css: {active: $parent.selectedFunction() == $data}">
            <a href="#!" data-bind="click: select, attr: {title: value.name}"></a>
        </div>
    </div>
    <!--ko foreach: selectedFunction().vars -->
    <div class="function-var">
        <div>
            <label>
                <input class="filled-in" type="checkbox" data-bind="checked: autoCompute" />
                <span class="name" data-bind="text: value.label + ' (' + value.name + '): '"></span>
                <span class="value" data-bind="text: curValue"></span>
            </label>
        </div>
        <!--ko if: !autoCompute() -->
        <input type="range" data-bind="attr: {max: max, min: min, step: step}, value: curValue, valueUpdate: 'input'" />
        <div class="var-range flex-row">
            <div>
                <input type="number" data-bind="value: min" placeholder="minimo" />
            </div>
            <div>
                <input type="number" data-bind="value: step" placeholder="passo" />
            </div>
            <div>
                <input type="number" data-bind="value: max" placeholder="massimo" />
            </div>
        </div>
        <!--/ko-->
    </div>
    <!--/ko-->

</script>

@section Head{
   <script src="~/lib/desmos.js"></script>
}

@section Scripts {

    <script>

        if (GeoPlot.runAsync)
            WebApp = GeoPlot;

        WebApp.runAsync(GeoPlot.GeoPlotApplication, {
            baseUrl: "@Url.Content("~/")"
        }, () => { 
            ko.applyBindings(new GeoPlot.StudioPage( @(Html.Json((Guid?)ViewBag.ProjectId)) ));
        });
       
    </script>
}
