@{
    ViewData["Title"] = "Studio";
}
<div class="container">
    <div class="valign-wrapper" style="min-height: 400px">
        <img style="display: block; margin: auto;" src="~/image/Under-Construction-Sign-e1546880752659.png" />
    </div>
</div>


@section Head{

}

@section Scripts {
}
